{% extends 'dev/base.html' %}
{% block content %}
<div>
    
</div>
<div class="row my-2">
    <div class="col">
        <header class=" text-capitalize font-italic">IT Roadmaps and Certifications navigation</header>
    </div>
</div>
<div class="row container-fluid ">
    <div class="col-md-3 my-2 nav flex-columns">
        <ul>
            <li class="nav-item my-2">
                <a href="#Introduction" class="nav-link active">Introduction</a>
            </li>
            <li class="nav-item my-2">
                <a href="#Full_Stake_Web_development" class="nav-link">Web development</a>
            </li>
            <li class="nav-item my-2">
                <a href="#Network_Engineering" class="nav-link">Network Engineering</a>
            </li>
            <li class="nav-item my-2">
                <a href="#System_Administration" class="nav-link">System Administration</a>
            </li>
            <li class="nav-item my-2">
                <a href="#Cloud_Computing" class="nav-link">Cloud Computing</a>
            </li>
            <li class="nav-item my-2">
                <a href="#DevOps" class="nav-link">DevOps</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 ">
        <section id="Introduction">
            <div class="container-fluid my-3 ">
                <div class="row ">
                    <div class="col">
                        <h2 class="Intro text-uppercase font-weight-bolder text-dark text-center">Introduction</h2>
                        <p>
                            If you are planning on starting a career in IT or making a career switch to IT be it web development, networking or cloud related fields. This article is designed to list the best tutorials, books and practice test exam "if you plan on getting any related IT certifications" on several online platforms. Okayy when I said "The Best Tutorials" that might not be 100% true, this is more of a personal preference that actually helped me alot and I hope they can also help you on your IT journey.  
                        </p>
                    </div>
                </div>
            </div>
        </section >
        <section id="Full_Stake_Web_development">
            <div class="container-fluid my-3">
                <div class="row ">
                    <div class="col">
                        <h3 class="web text-capitalize text-dark font-weight-bold">Web development</h3>
                        <p>
                            <ul>
                                <li>
                                    <div>
                                        HTML <i class="fab fa-html5"></i> & CSS <i class="fab fa-css3-alt"></i>
                                        <ul>
                                            <li>
                                                Build Responsive Real World Websites with HTML% and CSS3. <br>
                                                <backquote class="backquote">
                                                    by <strong>Jason Schmedtmann</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/design-and-develop-a-killer-website-with-html5-and-css3/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                 
                                    
                                </li>
                                <li>
                                    <div>
                                        JavaScript <i class="fab fa-js-square"></i> & React.js <i class="fab fa-react"></i>
                                        <ul>
                                            <li>
                                                Modern Javascript From Beginning. <br>
                                                <backquote class="backquote">
                                                    by <strong>Brad Traversy</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/modern-javascript-from-the-beginning/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                React - The Complete Guide (Incl Hooks, react router, Redux) <br>
                                                <backquote class="backquote">
                                                    by <strong>Maximilian Schwarzmuller</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/react-the-complete-guide-incl-redux/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        Python <i class="fab fa-python"></i> & django <i class="fab fa-python"></i>
                                        <ul>
                                            <li>
                                                Automate The Boring Stuff with Python Programming <br>
                                                <backquote class="backquote">
                                                    by <strong>Al Sweigart</strong>  
                                                </backquote>
                                                <br>
                                                <div class="row ">
                                                    <button class="link my-2 btn-dark btn btn-link mx-2">
                                                        <a href="https://www.udemy.com/course/automate/" target="_balnk"> 
                                                           Course on Udemy 
                                                        </a>
                                                    </button>
                                                    <button class="link my-2 btn-dark btn btn-link mx-2">
                                                        <a href="https://www.amazon.com/Automate-Boring-Stuff-Python-2nd/dp/1593279922/ref=sr_1_1?crid=YYJCSLLJI7YL&dchild=1&keywords=automate+the+boring+stuff+with+python&qid=1613466160&sprefix=automate+th%2Caps%2C505&sr=8-1" target="_balnk"> 
                                                           Book on Amazon 
                                                        </a>
                                                    </button>
                                                </div>

                                            </li>
                                            <li>
                                                Django 3 - Full Stack Websites with Python Web Development <br>
                                                <backquote class="backquote">
                                                    by <strong>Nick Walter</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/django-3-make-websites-with-python-tutorial-beginner-learn-bootstrap/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        Python <i class="fab fa-python"></i> & JavaScript <i class="fab fa-js-square"></i>
                                        <ul>
                                            <li>
                                                CS50's Web Programming with Python and JavaScript <br>
                                                <backquote class="backquote">
                                                    by <strong>David J. Malan</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://online-learning.harvard.edu/course/cs50s-web-programming-python-and-javascript?delta=0" target="_balnk"> 
                                                       Course on Harvard Website  
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="Network_Engineering">
            <div class="container-fluid my-3">
                <div class="row">
                    <div class="col">
                        <h3 class="network text-capitalize text-dark font-weight-bold">Network Engineering</h3>
                        <p>
                            <ul>
                                <li>
                                    <div>
                                        Cisco Certified Network Associate (CCNA)
                                        <ul>
                                            <li>
                                                Cisco CCNA 200-301 – The Complete Guide to Getting Certified <br>
                                                <backquote class="backquote">
                                                    by <strong>Niel Anderson</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/ccna-complete/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                Cisco CCNA Packet Tracer – Ultimate Labs CCNA 200-301 <br>
                                                <backquote class="backquote">
                                                    by <strong>David Bombal</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/cisco-ccna-packet-tracer-ultimate-labs-ccna-exam-prep-labs/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                Cisco CCNA 200-301 – Official Certification Guide volume 1 & 2 <br>
                                                <backquote class="backquote">
                                                    by <strong>Wendell Odum</strong>  
                                                </backquote>
                                                <br>
                                                <div class="book row">
                                                    <button class="link my-2 btn-dark mx-1 btn btn-link">
                                                        <a href="https://www.ciscopress.com/store/ccna-200-301-official-cert-guide-volume-1-9780135792735" target="_balnk"> 
                                                           Book v1 on CiscoPress 
                                                        </a>
                                                    </button>
                                                    <button class="link my-2 btn-dark mx-1 btn btn-link">
                                                        <a href="https://www.ciscopress.com/store/ccna-200-301-official-cert-guide-volume-2-9781587147135" target="_balnk"> 
                                                           Book v2 on CiscoPress 
                                                        </a>
                                                    </button>
                                                </div>

                                            </li>
                                        </ul>

                                    </div>
                                 
                                    
                                </li>
                                <li>
                                    <div>
                                        Cisco DevNet
                                        <ul>
                                            <li>
                                                Cisco Certified DevNet Associate DEVASC 200-901 Official Cert Guide<br>
                                                <backquote class="backquote">
                                                    by <strong>Chris Jackson, Jason Gooley, Adrian Iliesiu, Ashutosh Malegaonkar</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.ciscopress.com/store/cisco-certified-devnet-associate-devasc-200-901-official-9780136642961" target="_balnk"> 
                                                       Book on CiscoPress 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                Learn network programmability basics<br>
                                                <backquote class="backquote">
                                                    by <strong>Hank Preston</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://developer.cisco.com/video/net-prog-basics" target="_balnk"> 
                                                       Course on DevNet 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                Introduction to the Cisco Certified DevNet Associate Certification<br>
                                                <backquote class="backquote">
                                                    by <strong>Nick Russo</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.pluralsight.com/courses/introduction-cisco-certified-devnet-associate-certification" target="_balnk"> 
                                                       Course on Pluralsight 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        For Practice Test on anything Networking
                                        <ul>
                                            <li>
                                                Boson Website<br>
                                                <!-- <backquote class="backquote">
                                                    by <strong>Al Sweigart</strong>  
                                                </backquote> -->
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link mx-2">
                                                    <a href="https://www.boson.com/" target="_balnk"> 
                                                       Boson 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="System_Administration">
            <div class="container-fluid my-3">
                <div class="row">
                    <div class="col">
                        <h3 class="sysadmin text-capitalize text-dark font-weight-bold">System Administration</h3>
                        <p>
                            <ul>
                                <div>
                                    <li>
                                        System Administration and IT Infrastructure Services <br>
                                        <backquote class="backquote">
                                            by <strong>Google Instructors</strong>  
                                        </backquote>
                                        <br>
                                        <button class="link my-2 btn-dark btn btn-link">
                                            <a href="https://www.coursera.org/learn/system-administration-it-infrastructure-services" target="_balnk"> 
                                               Course on Coursera 
                                            </a>
                                        </button>
                                    </li>
                                </div>
                                                          
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="Cloud_Computing">
            <div class="container-fluid my-3">
                <div class="row">
                    <div class="col">
                        <h3 class="cloud text-capitalize text-dark font-weight-bold">Cloud Computing</h3>
                        <p>
                            <ul>
                                <li>
                                    <div>
                                        General Cloud Computing
                                        <ul>
                                            <li>
                                                Intro to Cloud Computing Free Course <br>
                                                <backquote class="backquote">
                                                    by <strong>Ami Mahloof</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udacity.com/course/intro-to-cloud-computing--ud080" target="_balnk"> 
                                                       Course on Udacity 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                NDG Linux Essentials <br>
                                                <backquote class="backquote">
                                                    by <strong>Cisco Networking Academy </strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.netacad.com/courses/os-it/ndg-linux-essentials" target="_balnk"> 
                                                       Course on netcad 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                 
                                    
                                </li>
                                <li>
                                    <div>
                                        AWS Amazon Web Services
                                        <ul>
                                            <li>
                                                Ultimate AWS Certified Solutions Architect Associate 2021 <br>
                                                <backquote class="backquote">
                                                    by <strong>Stephane Maarek</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/aws-certified-solutions-architect-associate-saa-c02/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                AWS Training <br>
                                                <backquote class="backquote">
                                                    by <strong>AWS Experts</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://aws.amazon.com/training/?nc1=f_cc" target="_balnk"> 
                                                       Course on AWS 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        Microsoft Azure
                                        <ul>
                                            <li>
                                                Azure Fundamentals <br>
                                                <backquote class="backquote">
                                                    by <strong>Microsoft docs</strong>  
                                                </backquote>
                                                <br>
                                                <div class="row ">
                                                    <button class="link my-2 btn-dark btn btn-link mx-2">
                                                        <a href="https://docs.microsoft.com/en-us/learn/certifications/azure-fundamentals/" target="_balnk"> 
                                                           Course on Microsoft 
                                                        </a>
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                Learn Microsoft Azure By doing <br>
                                                <backquote class="backquote">
                                                    by <strong>Tia Williams</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://acloudguru.com/course/learn-microsoft-azure-by-doing" target="_balnk"> 
                                                       Course on acloudguru 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        Google Cloud 
                                        <ul>
                                            <li>
                                                Google Certified Associate Cloud Engineer Certification <br>
                                                <backquote class="backquote">
                                                    by <strong>Ryan Kroonenburg, Mattias Andersson, Nigel Poulton</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/google-certified-associate-cloud-engineer/" target="_balnk"> 
                                                       Course on Udemy  
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        For Practice Test on anything Cloud Certification
                                        <ul>
                                            <li>
                                                SkillcertPro Website<br>
                                                <!-- <backquote class="backquote">
                                                    by <strong>Al Sweigart</strong>  
                                                </backquote> -->
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link mx-2">
                                                    <a href="http://skillcertpro.com/" target="_balnk"> 
                                                       SkillcertPro 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="DevOps">
            <div class="container-fluid my-2 mb-5">
                <div class="row">
                    <div class="col">
                        <h3 class="devops text-capitalize text-dark font-weight-bold">DevOps</h3>
                        <p>
                            <ul>
                                <li>
                                    <div>
                                        DevOps Engineer
                                        <ul>
                                            <li>
                                                Cloud DevOps Engineer Nanodegree <br>
                                                <backquote class="backquote">
                                                    by <strong>Udacity Expert Instructors</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udacity.com/course/cloud-dev-ops-nanodegree--nd9991" target="_balnk"> 
                                                       Course on Udacity
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                AWS Certified DevOps Engineer Professional 2021 - Hands On!<br>
                                                <backquote class="backquote">
                                                    by <strong>Stephane Maarek</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/aws-certified-devops-engineer-professional-hands-on/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                Designing and Implementing Microsoft DevOps Solutions <br>
                                                <backquote class="backquote">
                                                    by <strong>Microsoft Docs</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://docs.microsoft.com/en-us/learn/certifications/exams/az-400" target="_balnk"> 
                                                       Course on Microsoft 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                 
                                    
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



{% endblock %}