
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.height {
    min-height: 20vh;
}

/* h1, h2, h3, h4, h5, h6, p, a {
  font-family: DM Mono;
} */

/* body {
  width: fit-content;
  block-size: fit-content
} */

html {
  font-size: 1rem;
  font-family: Roboto;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

#box{
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;
	border: 2px solid rgb(24, 26, 31);
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	/* background-color: rgb(49, 54, 63) !important; */
}

#profile_pic{
	display: block;
	border-radius: 50%;
	margin: 10px auto;
	width: 200px;
	border: 2px solid rgb(24, 26, 31);

}